@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";
@import './variables.scss';

html,
body {
    font-family: "Rubik";
    font-weight: normal;
}

a {
    &:hover {
        text-decoration: none;
    }
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

a:focus,
a:active,
button:focus,
button:active {
    outline: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.right-screen {
    width: 100%;
}

.main-panel {
    background-color: $ms_PrimaryBg;
    padding: 32px 27px;
    height: calc(100% - 66px);
}

.main-title {
    color: $ms_SecondaryText;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

@include media-breakpoint-up(md) {
    .right-screen {
        width: calc(100% - 242px);
    }
}
