@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";
@import "./variables.scss";

html,
body {
    font-family: "Rubik";
    font-weight: normal;
}

a {
    &:hover {
        text-decoration: none;
    }
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

a:focus,
a:active,
button:focus,
button:active {
    outline: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.right-screen {
    width: 100%;
}

.main-panel {
    background-color: $ms_PrimaryBg;
    padding: 32px 27px;
    height: calc(100% - 66px);
    overflow: auto;
}

.main-title {
    color: $ms_SecondaryText;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.search-container {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    vertical-align: bottom;

    svg {
        position: absolute;
        left: 14px;
        top: 18px;
    }
    .ms-search {
        height: 46px;
        border: 1px solid #e8ecef;
        box-sizing: border-box;
        border-radius: 4px;
        width: 258px;
        padding-left: 36px;
        font-size: 14px;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    color: $ms_placeholdertext;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $ms_placeholdertext;
}

::placeholder {
    color: $ms_placeholdertext;
}

.ms-secondary-button {
    padding: 11.5px 15px;
    background-color: #fff;
    border: 1px solid $ms_buttonsBlue;
    color: $ms_buttonsBlue;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 4px;

    svg {
        margin-right: 6px;
    }
}

.ms-link-button {
    color: $ms_buttonsBlue;
    text-transform: capitalize;
    font-size: 14px;

    span {
        color: $ms_SecondaryText;
    }
}

.divider {
    height: 1px;
    background-color: #e8ecef;
}

.status {
    h1 {
        font-size: 20px;
        line-height: 23.7px;
        font-weight: 300;
        color: $ms_statusBlue;
    }
    p {
        font-size: 12px;
        color: $ms_SecondaryText;
        margin-bottom: 0;
    }
}

.pagination-status {
    color: $ms_SecondaryText;
}

button.pagination-prev,
button.pagination-next {
    width: 47px;
    padding: 10px 14px;
    border: 1px solid #e8ecef;
    background-color: #fff;
}

button.pagination-prev {
    border-radius: 4px 0px 0px 4px;
}
button.pagination-next {
    border-radius: 0px 4px 4px 0px;
}

.ms-table {
    border: 1px solid #e8ecef;
    border-radius: 4px;
}

.table-headers {
    box-sizing: border-box;
    border-bottom: 1px solid #e8ecef;

    .col {
        font-size: 12px;
        line-height: 17px;
        color: $ms_SecondaryText;
        text-transform: capitalize;
        padding: 16px;
    }
}

.table-body {
    .date-group > .date,
    .status-group > .status {
        font-weight: 500;
        font-size: 12px;
        line-height: 32px;
        color: $ms_PrimaryText;
        padding: 4px 14px;
    }

    .row {
        border-bottom: 1px solid #e8ecef;
    }

    .row:not(.date) {
        background-color: #fff;
    }

    .col:first-of-type {
        color: $ms_PrimaryText;
    }
    .col {
        font-size: 14px;
        line-height: 17px;
        color: $ms_SecondaryText;
        text-transform: capitalize;
        padding: 16px;
    }

    .vehicle-img {
        height: 35px;
        width: 35px;
        background-color: #eee;
        border-radius: 100%;
        margin-right: 12px;
    }

    .status {
        font-size: 12px;
        &.active {
            color: #21A11E;
        }
        &.inshop {
            color: #C1931B;
        }
        &.out-of-service {
            color: #C11B1B;
        }
    }
    
    .action-buttons {
        display: flex;
        align-items: center;
    }
}
