// COLORS


$ms_lightBlue: #F8FAFB;
$ms_black: #252631;
$ms_bluishGrey: #778CA2;
$ms_blueGrey: #98A9BC;

$ms_PrimaryBg: $ms_lightBlue;
$ms_PrimaryText: $ms_black;
$ms_SecondaryText: $ms_bluishGrey;
$ms_placeholdertext: $ms_blueGrey;